<div class="footer-background">
  <div class="font-color-secundary pt-sm-1 pb-sm-1">
    <div class="row p-0 m-0">
      <div class="offset-4 col-4 text-center">
        <span class="footer-label-first font-weight-bold">
          {{ footerPageName }}
        </span>
        <span class="footer-label-date-divider">{{ footerYearCreated }}</span>
        <span>{{ footerYearCurrent }}</span>
      </div><!-- ./col-4.text-center -->
      <div class="col-4 text-right footer-social-network-container">
        <a class="footer-social-network" href="https://www.facebook.com/" target="_blank" title="Facebook">
          <fa-icon [icon]="['fab', 'facebook-square']" size="2x"></fa-icon>
        </a>
        <a class="footer-social-network" href="https://twitter.com/?lang=pt-br" target="_blank" role="button" title="Facebook">
          <fa-icon [icon]="['fab', 'twitter-square']" size="2x"></fa-icon>
        </a>
      </div><!-- ./col-4.text-right -->
    </div><!-- ./row -->
  </div><!-- ./ font-color-secundary-->
</div><!-- ./footer-background -->

