.login-navbar-overflow{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.login-menu-shadow {
    box-shadow: 3px 3px 6px 0px #000000 !important;
}