<div class="dropdown">

  <div data-toggle="dropdown" class="row font-color-secundary">
    <div class="col-11 pr-1 app-login-navbar-overflow">
      {{ 'LABEL.LOGIN.ANONYMOUS_USER' | translate }}
    </div>
    <div class="col-1 pl-0 text-left">
      <fa-icon [icon]="['fas', 'caret-down']" size="1x"></fa-icon>
    </div>
  </div><!-- ./data-toggle="dropdown" -->

  <div class="dropdown-menu dropdown-menu-right login-background app-login-menu-shadow">
    <!-- Formulário de login -->
    <form (ngSubmit)="signIn()" [formGroup]="loginForm" class="px-3 pt-3 pb-1">

      <div class="form-group ui-float-label">
        <input type="email" pInputText class="form-control" id="loginEmail" formControlName="loginEmail" required>
        <label for="loginEmail">{{ 'LABEL.LOGIN.EMAIL' | translate }}</label>
      </div><!-- ./form-group - e-mail -->

      <div class="form-group ui-float-label">
        <input type="password" pInputText class="form-control" id="loginPassword" formControlName="loginPassword" required>
        <label for="loginPassword">{{ 'LABEL.LOGIN.PASSWORD' | translate }}</label>
      </div><!-- ./form-group - password -->

      <div class="form-check">
        <p-checkbox styleClass="form-check-input" id="loginRemember" formControlName="loginRemember" binary="true" label="{{ 'LABEL.LOGIN.REMEMBER_ME' | translate }}"></p-checkbox>
      </div><!-- ./form-check - remember me -->
      
      <button type="submit" class="btn btn-block btn-success" [disabled]="loginForm.invalid">{{ 'LABEL.BUTTON.LOGIN' | translate }}</button>
      
    </form><!-- ./login form -->

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" routerLink="/signUp" skipLocationChange>{{ 'LABEL.LOGIN.SIGN_UP' | translate }}</a>
    <a class="dropdown-item" href="#">{{ 'LABEL.LOGIN.PASSWORD_FORGET' | translate }}</a>

    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">{{ 'APP_INFO.VERSION.UI_VERSION_NAME' | translate }}: {{ loginVersionUI }}</h6>
    <h6 class="dropdown-header">{{ 'APP_INFO.VERSION.API_VERSION_NAME' | translate }}: {{ loginVersionAPI }}</h6>
  </div><!-- ./dropdown-menu -->

</div><!-- ./dropdown -->